[submodule "JavaOceanStyle"]
	path = JavaOceanStyle
	url = https://github.com/Asteriuz/JavaOceanStyle
[submodule "DevOpsOceanStyle"]
	path = DevOpsOceanStyle
	url = https://github.com/Asteriuz/DevOpsOceanStyle
[submodule ".NetOceanStyle"]
	path = .NetOceanStyle
	url = https://github.com/lucas-pmelo/.NetOceanStyle
